.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 18px;
    bottom: 18px;
}

.nav__notificationDot {
    position: absolute;
    display: block;
    right: -5px;
    width: 5px;
    height: 5px;
    background-color: tomato;
    border-radius: 50%;
}